body {
  background-color: #2b570b;
  /* change to a casino table background */
  color: white;
  font-family: sans-serif;
}

.game-table {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

img {
  max-height: 260px;
  display: inline-block;
  margin: 0 auto;
}

.dealer, .player {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 0.5fr 2fr;
}

.dealer-cards, .player-cards {
  display: flex;
  justify-content: flex-start;
}

p {
  font-size: 20pt;
}

.hidden {
  display: none;
}

button {
  margin: 10px;
  font-size: 10pt;
}

.question-btns {
  display: none;
}

.bet {
  border: 1px solid white;
}
