body {
  background-color: #2b570b;
  /* change to a casino table background */
  color: white;
  font-family: sans-serif;
  height: 100%;
}

.game-table {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "dealer dealer bet"
    "player player bet";
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.dealer p, .player p {
  display: inline-block;
  flex: 1;
}

.dealer {
  grid-area: dealer;
}

.player {
  grid-area: player;
}

.dealer, .player {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}

.player-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.bet {
  grid-area: bet;
}

img {
  max-height: 260px;
  display: inline-block;
  margin: 0 auto;
}

.dealer-cards, .player-cards {
  display: flex;
  max-width: 100%;
}

p {
  font-size: 20pt;
}

.hidden {
  visibility: hidden;
}

button {
  margin: 10px;
  padding: 5px;
  font-size: 12pt;
  background-color: #2b570b;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}

button:hover {
  background-color: white;
  color: #2b570b;
}

button:disabled {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

button:disabled:hover {
  background-color: #2b570b;
}
